<!DOCTYPE html>
<html>
<body>

<h2>Parking Dashboard</h2>

<p>Available Slots: {{ available }}</p>
<p>Occupied Slots: {{ occupied }}</p>

<h3>Add Slot</h3>
<form method="POST" action="/add">
    <input type="text" name="slot" placeholder="Enter slot number">
    <button type="submit">Add</button>
</form>

<h3>All Slots</h3>

{% for s in slots %}
<p>
    {{ s[1] }} - {{ s[2] }}

    {% if s[2] == 'Available' %}
        <a href="/book/{{ s[0] }}">Book</a>
    {% else %}
        <a href="/unbook/{{ s[0] }}">Unbook</a>
    {% endif %}
</p>
{% endfor %}

</body>
</html>